@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");

.navbar-button {
  font-family: "Saira Stencil One", cursive;
  font-size: 25px;
  margin: 25px;
  height: 200px;
  width: 21%;
  color: #fff;
  background: linear-gradient(to right, #add100, #7b920a);
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}
