@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");

.center {
  font-family: "Raleway", serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topCenter {
  font-family: "Raleway", serif;
  background: linear-gradient(to right, #11998e, #38ef7d);
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: top;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.8rem;
}

.card > form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item {
  font-family: "Raleway", serif;
  padding: 5px;
  margin-bottom: 2rem;
  height: 40px;
  width: 26rem;
  border: 2px solid #11998e;
}

.form-submit {
  font-family: "Raleway", serif;
  height: 35px;
  color: #fff;
  background: linear-gradient(to right, #11998e, #38ef7d);
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}

.form-button {
  font-family: "Raleway", serif;
  height: 35px;
  width: 100%;
  color: #fff;
  background: linear-gradient(to right, #bc4e9c, #f80759);
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}

.form-submit:hover {
  opacity: 0.6;
}

.form-custom-color {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
